

@media only screen and (max-width: 480px){

}
@media only screen and (max-width: 767px){
  body{ font-size: 16px;}
  section{padding: 30px 0;}
  .row,
  .hero-text-box{ padding: 0 4%;}
  .col {width: 100%}
  .main-nav {display: none;}

}
@media only screen and (max-width: 1023px){
  body{ font-size: 18px;}
  section{padding: 60px 0;}
  .long-copy{
    width: 80%;
    margin-left: 10%;
  }
  .steps-box
  {
    margin-top: 10px;
  }
  .steps-box:last-child
  {
    margin-top: 30px;
  }
  .work-steps{ margin-botton: 40px;}
  .work-steps:last-of-type{ margin-botton: 60px;}
  .plan-box{width: 100%;
    margin-left: 0%;
  }
  .plan-price{ font-size: 250%;}
}
@media only screen and (max-width: 1200px){
  .hero-text-box{
    width: 100%;
    padding: 0 2%;
  }
  .row { padding: 0 2%}
    

}
